/* line 1, ../sass/js.scss */
#on_example {
  min-height: 400px;
}
/* line 2, ../sass/js.scss */
#on_example dt {
  background: #DDDDDD;
  border-bottom: 1px solid #999999;
  border-top: 1px solid white;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
}
/* line 3, ../sass/js.scss */
#on_example dd {
  padding: 1em 0;
}

/* line 6, ../sass/js.scss */
#main .manipulating_content_example h1 {
  margin: 0 0 20px -10px;
}
/* line 7, ../sass/js.scss */
#main .manipulating_content_example p {
  margin-left: 10px;
  text-align: left;
}
