/* Basic styles of manuals */
/* line 7, ../sass/screen.scss */
body {
  font: 94% Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

/* line 8, ../sass/screen.scss */
section, header {
  max-width: 800px;
}

/* line 9, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
/* line 10, ../sass/screen.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  /*excluding text underlying of links inside of headers*/
}

/* line 12, ../sass/screen.scss */
p {
  margin-top: 10px;
}

/* line 13, ../sass/screen.scss */
q {
  font-style: italic;
}

/* line 14, ../sass/screen.scss */
blockquote {
  color: #666;
  margin: 10px 30px 10px;
}

/* line 16, ../sass/screen.scss */
code {
  color: #111;
  padding: 0 3px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 1px;
}

/* line 17, ../sass/screen.scss */
.syntaxhighlighter code {
  text-shadow: none;
}

/* line 18, ../sass/screen.scss */
code.elem, code.at_rule, code.keyword {
  color: #006699;
}

/* line 19, ../sass/screen.scss */
code.attr, code.local_var {
  color: #76923c;
}

/* line 20, ../sass/screen.scss */
code.value, code.class {
  color: #746a34;
}

/* line 21, ../sass/screen.scss */
code.method {
  color: #558;
}

/* line 22, ../sass/screen.scss */
code.const {
  color: #858;
}

/* line 23, ../sass/screen.scss */
code.var {
  color: #FFAA3A;
}

/* line 25, ../sass/screen.scss */
abbr {
  color: #000;
}

/*.term {color: #000;}*/
/* line 27, ../sass/screen.scss */
.deprecated {
  text-decoration: line-through;
}

/* line 28, ../sass/screen.scss */
.todo {
  color: red;
}

/* line 30, ../sass/screen.scss */
figure {
  margin: 20px;
}

/* line 31, ../sass/screen.scss */
figcaption.imgcaption {
  font-size: smaller;
  font-style: italic;
  text-align: center;
  text-indent: 0;
}

/* line 33, ../sass/screen.scss */
#container {
  float: left;
  width: 100%;
}

/* line 35, ../sass/screen.scss */
#index {
  float: left;
  width: 320px;
}
/* line 36, ../sass/screen.scss */
#index #main_index {
  background-color: #BBBBBB;
  font-size: 0.70em;
  left: 0px;
  height: 100%;
  min-height: 550px;
  padding-top: 20px;
  position: fixed;
  text-align: right;
  top: 0px;
  width: 40px;
  z-index: 50;
}
/* line 40, ../sass/screen.scss */
#index #main_index ul {
  background-color: #CCCCCC;
  list-style: none outside none;
  margin-left: 0;
  margin-top: 40px;
}
/* line 41, ../sass/screen.scss */
#index #main_index ul li {
  border-top: 1px solid #BBBBBB;
  padding: 3px 0;
  width: 40px;
  overflow: hidden;
}
/* line 42, ../sass/screen.scss */
#index #main_index ul li a:link, #index #main_index ul li a:visited, #index #main_index ul li a:active {
  color: #444444;
  display: block;
  line-height: 1.4em;
  padding: 5px;
  text-decoration: none;
}
/* line 43, ../sass/screen.scss */
#index #main_index ul li:hover {
  background: #DDDDDD;
}
/* line 44, ../sass/screen.scss */
#index #main_index ul li:hover a {
  color: #111111;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}
/* line 46, ../sass/screen.scss */
#index #main_index ul li.active {
  background: #EEEEEE;
}
/* line 47, ../sass/screen.scss */
#index #main_index ul li.active a:link, #index #main_index ul li.active a:visited, #index #main_index ul li.active a:active {
  color: #111111;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 2px 3px;
}
/* line 51, ../sass/screen.scss */
#index #main_index .github_link, #index #main_index .zip_link {
  display: block;
  left: 5px;
  position: absolute;
}
/* line 52, ../sass/screen.scss */
#index #main_index .github_link a, #index #main_index .zip_link a {
  background: no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 32px;
  width: 32px;
}
/* line 54, ../sass/screen.scss */
#index #main_index .github_link {
  bottom: 50px;
}
/* line 55, ../sass/screen.scss */
#index #main_index .github_link a {
  background-image: url("../images/github.png");
}
/* line 57, ../sass/screen.scss */
#index #main_index .zip_link {
  bottom: 100px;
}
/* line 58, ../sass/screen.scss */
#index #main_index .zip_link a {
  background-image: url("../images/zip.png");
}
/* line 61, ../sass/screen.scss */
#index #content {
  background: #eee;
  left: 40px;
  max-height: 100%;
  max-width: 280px;
  min-height: 100%;
  min-width: 280px;
  padding: 20px 10px 180px -10px;
  overflow: scroll;
  position: fixed;
}
/* line 64, ../sass/screen.scss */
#index #content ul.tree {
  margin-left: 0;
}
/* line 65, ../sass/screen.scss */
#index #content ul.tree li {
  font-size: 11pt;
  list-style: none;
}
/* line 66, ../sass/screen.scss */
#index #content ul.tree li .bullet {
  padding-left: 15px;
}
/* line 68, ../sass/screen.scss */
#index #content ul.tree li.liOpen .bullet {
  cursor: pointer;
  background: url(../images/minus.gif) center left no-repeat;
}
/* line 69, ../sass/screen.scss */
#index #content ul.tree li.liOpen ul {
  display: block;
}
/* line 72, ../sass/screen.scss */
#index #content ul.tree li.liClosed .bullet {
  cursor: pointer;
  background: url(../images/plus.gif) center left no-repeat;
}
/* line 73, ../sass/screen.scss */
#index #content ul.tree li.liClosed ul {
  display: none;
}
/* line 75, ../sass/screen.scss */
#index #content ul.tree li.liBullet .bullet {
  cursor: default;
  background: url(../images/bullet.gif) center left no-repeat;
}
/* line 76, ../sass/screen.scss */
#index #content ul.tree li ul li {
  font-size: 10pt;
}
/* line 77, ../sass/screen.scss */
#index #content ul.tree li ul li ul li {
  font-size: 9pt;
}
/* line 78, ../sass/screen.scss */
#index #content ul.tree li ul li ul li ul li {
  font-size: 8pt;
}
/* line 82, ../sass/screen.scss */
#index #content ul.tree ul, #index #content ul.tree li {
  margin-left: 7px;
  padding: 0px;
}
/* line 83, ../sass/screen.scss */
#index #content ul.tree > li {
  margin-left: 0;
  padding: 5px 0 5px 5px;
}
/* line 85, ../sass/screen.scss */
#index #content .section_highlight {
  background-color: #F8F8F8;
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
}
/* line 86, ../sass/screen.scss */
#index #content .section_highlight a, #index #content .section_highlight a:active, #index #content .section_highlight a:visited {
  color: #203850;
}
/* line 87, ../sass/screen.scss */
#index #content .section_highlight a:hover {
  color: #00152A;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
}
/* line 89, ../sass/screen.scss */
#index #content .subsection_highlight > a {
  font-weight: bold;
}

/* line 93, ../sass/screen.scss */
#main {
  left: 378px;
  margin-bottom: 20px;
  padding-right: 20px;
  position: absolute;
  top: 20px;
  z-index: -100;
}
/* line 94, ../sass/screen.scss */
#main header {
  color: #222222;
  font: 50pt "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
/* line 96, ../sass/screen.scss */
#main h1, #main h2, #main h3, #main h4 {
  color: #222222;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
/* line 97, ../sass/screen.scss */
#main h1 a, #main h1 a:active, #main h1 a:visited, #main h2 a, #main h2 a:active, #main h2 a:visited, #main h3 a, #main h3 a:active, #main h3 a:visited, #main h4 a, #main h4 a:active, #main h4 a:visited {
  color: #222222;
}
/* line 98, ../sass/screen.scss */
#main h1 a:hover, #main h2 a:hover, #main h3 a:hover, #main h4 a:hover {
  color: #222222;
}
/* line 100, ../sass/screen.scss */
#main h1 {
  border-bottom: 2px solid #222222;
  font-size: 40pt;
  font-variant: small-caps;
  margin: 70px 0 30px -30px;
}
/* line 101, ../sass/screen.scss */
#main h2 {
  border-bottom: 1px solid #222222;
  font-size: 32pt;
  font-variant: small-caps;
  margin: 40px 0 20px -30px;
}
/* line 102, ../sass/screen.scss */
#main h3 {
  font-size: 24pt;
  margin: 30px 0 15px -30px;
}
/* line 103, ../sass/screen.scss */
#main h4 {
  font-size: 18pt;
  margin: 25px 0 10px 0;
}
/* line 105, ../sass/screen.scss */
#main ol, #main ul {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
/* line 107, ../sass/screen.scss */
#main aside {
  background: #eee;
  border: 1px solid #BBBBBB;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  float: right;
  font-size: 0.85em;
  margin: 10px 5px 10px 20px;
  padding: 20px;
  width: 300px;
}
/* line 109, ../sass/screen.scss */
#main aside.warn {
  background: #fbb;
}
/* line 110, ../sass/screen.scss */
#main aside.intro {
  background-color: #f4c288;
  font: 0.65em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
/* line 113, ../sass/screen.scss */
#main table {
  border-collapse: separate;
  border-bottom: 1px solid #111111;
  border-top: 1px solid #111111;
  margin: 30px 0 40px;
  width: 100%;
}
/* line 114, ../sass/screen.scss */
#main table caption {
  font-style: italic;
  line-height: 3em;
}
/* line 115, ../sass/screen.scss */
#main table thead {
  text-align: left;
}
/* line 116, ../sass/screen.scss */
#main table th, #main table td {
  padding: 8px;
}
/* line 117, ../sass/screen.scss */
#main table th {
  border-bottom: 1px solid #111111;
  color: #222222;
  font: 15px/2em "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
/* line 118, ../sass/screen.scss */
#main table th:first-child {
  padding-left: 0;
}
/* line 119, ../sass/screen.scss */
#main table td {
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  color: #666666;
  font: 14px/1.4em Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
/* line 120, ../sass/screen.scss */
#main table td:first-child {
  border-left: none;
  padding-left: 0;
}
/* line 122, ../sass/screen.scss */
#main td.file_folder {
  width: 140px;
}
/* line 123, ../sass/screen.scss */
#main table.list td {
  border: none;
}
/* line 124, ../sass/screen.scss */
#main table#operators td {
  min-width: 2.45em;
}
/* line 125, ../sass/screen.scss */
#main table#keywords td {
  min-width: 5em;
}
/* line 127, ../sass/screen.scss */
#main table.font_stacks .font_stack_name {
  width: 20%;
}
/* line 128, ../sass/screen.scss */
#main table.font_stacks .font_stack {
  width: 40%;
}
/* line 129, ../sass/screen.scss */
#main table.font_stacks .font_example {
  color: #333;
  font-size: 14pt;
  width: 40%;
}
/* line 130, ../sass/screen.scss */
#main table.font_stacks .not_system_font_example {
  font-size: 14pt;
  width: 30%;
}
/* line 131, ../sass/screen.scss */
#main table.font_stacks .not_system_font_example a {
  color: #333;
  text-decoration: none;
}
/* line 133, ../sass/screen.scss */
#main table.font_stacks .colored_header_example {
  color: #78d;
  font-size: 28pt;
}
/* line 134, ../sass/screen.scss */
#main table.font_stacks .capitalized_example {
  text-transform: uppercase;
}
/* line 135, ../sass/screen.scss */
#main table.font_stacks .small_grayed_example {
  color: #888;
  font-size: 10pt;
}
/* line 137, ../sass/screen.scss */
#main table.font_stacks #garamond, #main table.font_stacks #didot, #main table.font_stacks #cambria, #main table.font_stacks #bodoni_mt, #main table.font_stacks #gill_sans, #main table.font_stacks #helvetica, #main table.font_stacks #geneva, #main table.font_stacks #tahoma, #main table.font_stacks #verdana,
#main table.font_stacks #trebuchet, #main table.font_stacks #futura, #main table.font_stacks #calibri, #main table.font_stacks #franklin_gothic {
  background-color: #F5F9FF;
}
/* line 139, ../sass/screen.scss */
#main table.font_stacks #goudy_old_style, #main table.font_stacks #baskerville, #main table.font_stacks #hoefler_text, #main table.font_stacks #constantia, #main table.font_stacks #palatino, #main table.font_stacks #book_antiqua,
#main table.font_stacks #big_caslon, #main table.font_stacks #lucida_bright, #main table.font_stacks #optima, #main table.font_stacks #segoe, #main table.font_stacks #lucida_grande, #main table.font_stacks #candara {
  background-color: #FFFFE5;
}
/* line 140, ../sass/screen.scss */
#main table.font_stacks #garamond_example {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
/* line 141, ../sass/screen.scss */
#main table.font_stacks #didot_example {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
/* line 142, ../sass/screen.scss */
#main table.font_stacks #lucida_bright_example {
  font-family: "Lucida Bright", Georgia, serif;
}
/* line 143, ../sass/screen.scss */
#main table.font_stacks #palatino_example {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
/* line 144, ../sass/screen.scss */
#main table.font_stacks #big_caslon_example {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
/* line 145, ../sass/screen.scss */
#main table.font_stacks #baskerville_example {
  font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}
/* line 146, ../sass/screen.scss */
#main table.font_stacks #hoefler_text_example {
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}
/* line 147, ../sass/screen.scss */
#main table.font_stacks #bodoni_mt_example {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
/* line 148, ../sass/screen.scss */
#main table.font_stacks #goudy_old_style_example {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
/* line 149, ../sass/screen.scss */
#main table.font_stacks #constantia_example {
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}
/* line 150, ../sass/screen.scss */
#main table.font_stacks #cambria_example {
  font-family: Cambria, Georgia, serif;
}
/* line 151, ../sass/screen.scss */
#main table.font_stacks #book_antiqua_example {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}
/* line 152, ../sass/screen.scss */
#main table.font_stacks #optima_example {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
/* line 153, ../sass/screen.scss */
#main table.font_stacks #futura_example {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
/* line 154, ../sass/screen.scss */
#main table.font_stacks #gill_sans_example {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
/* line 155, ../sass/screen.scss */
#main table.font_stacks #trebuchet_example {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
/* line 156, ../sass/screen.scss */
#main table.font_stacks #helvetica_example {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 157, ../sass/screen.scss */
#main table.font_stacks #verdana_example {
  font-family: Verdana, Geneva, sans-serif;
}
/* line 158, ../sass/screen.scss */
#main table.font_stacks #lucida_grande_example {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
/* line 159, ../sass/screen.scss */
#main table.font_stacks #geneva_example {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}
/* line 160, ../sass/screen.scss */
#main table.font_stacks #segoe_example {
  font-family: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
/* line 161, ../sass/screen.scss */
#main table.font_stacks #candara_example {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
/* line 162, ../sass/screen.scss */
#main table.font_stacks #calibri_example {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
/* line 163, ../sass/screen.scss */
#main table.font_stacks #franklin_gothic_example {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}
/* line 164, ../sass/screen.scss */
#main table.font_stacks #tahoma_example {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
/* line 165, ../sass/screen.scss */
#main table.font_stacks #monospace_example {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
/* line 166, ../sass/screen.scss */
#main table.font_stacks #handwritten_example {
  font-family: "Bradley Hand ITC", "Apple Chancery", "URW Chancery L", cursive;
}
/* line 167, ../sass/screen.scss */
#main table.font_stacks #aller_light_example {
  font-family: "AllerLightRegular";
}
/* line 168, ../sass/screen.scss */
#main table.font_stacks #aller_example {
  font-family: "AllerRegular";
}
/* line 169, ../sass/screen.scss */
#main table.font_stacks #cantarell_example {
  font-family: "CantarellRegular";
}
/* line 170, ../sass/screen.scss */
#main table.font_stacks #carto_gothic_example {
  font-family: "CartoGothicStdBook";
}
/* line 171, ../sass/screen.scss */
#main table.font_stacks #delicious_example {
  font-family: "DeliciousRoman";
}
/* line 172, ../sass/screen.scss */
#main table.font_stacks #fertigo_pro_example {
  font-family: "FertigoProRegular";
}
/* line 173, ../sass/screen.scss */
#main table.font_stacks #diavlo_medium_example {
  font-family: "DiavloMedium";
}
/* line 174, ../sass/screen.scss */
#main table.font_stacks #diavlo_light_example {
  font-family: "DiavloLight";
}
/* line 175, ../sass/screen.scss */
#main table.font_stacks #fontin_sans_example {
  font-family: "FontinSansCRRegular";
}
/* line 176, ../sass/screen.scss */
#main table.font_stacks #gentium_basic_example {
  font-family: "GentiumBasicRegular";
}
/* line 177, ../sass/screen.scss */
#main table.font_stacks #junction_example {
  font-family: "JunctionRegular";
}
/* line 178, ../sass/screen.scss */
#main table.font_stacks #mg_open_cosmetica_example {
  font-family: "MgOpenCosmeticaRegular";
}
/* line 179, ../sass/screen.scss */
#main table.font_stacks #museo_sans_example {
  font-family: "MuseoSans500";
}
/* line 180, ../sass/screen.scss */
#main table.font_stacks #nadia_serif_example {
  font-family: "NadiaSerifNormal";
}
/* line 181, ../sass/screen.scss */
#main table.font_stacks #nobile_example {
  font-family: "NobileRegular";
}
/* line 182, ../sass/screen.scss */
#main table.font_stacks #pt_sans_example {
  font-family: "PTSansRegular";
}
/* line 183, ../sass/screen.scss */
#main table.font_stacks #pt_sans_narrow_example {
  font-family: "PTSansNarrowRegular";
}
/* line 184, ../sass/screen.scss */
#main table.font_stacks #pt_sans_narrow_bold_example {
  font-family: "PTSansNarrowBold";
}
/* line 185, ../sass/screen.scss */
#main table.font_stacks #pt_sans_caption_example {
  font-family: "PTSansCaptionRegular";
}
/* line 186, ../sass/screen.scss */
#main table.font_stacks #open_sans_condensed_example {
  font-family: "OpenSansCondensedLight";
}
/* line 187, ../sass/screen.scss */
#main table.font_stacks #romeral_example {
  font-family: "RomeralRegular";
}
/* line 188, ../sass/screen.scss */
#main table.font_stacks #titillium_example {
  font-family: "TitilliumText22LRegular";
}
/* line 189, ../sass/screen.scss */
#main table.font_stacks #titillium_thin_example {
  font-family: "TitilliumText22LThin";
}
/* line 190, ../sass/screen.scss */
#main table.font_stacks #titillium_light_example {
  font-family: "TitilliumText22LLight";
}
/* line 191, ../sass/screen.scss */
#main table.font_stacks #sansation_example {
  font-family: "SansationRegular";
}
/* line 192, ../sass/screen.scss */
#main table.font_stacks #sansation_light_example {
  font-family: "SansationLight";
}
/* line 193, ../sass/screen.scss */
#main table.font_stacks #yanone_kaffeesatz_light_example {
  font-family: "YanoneKaffeesatzLight";
}
/* line 194, ../sass/screen.scss */
#main table.font_stacks #droid_sans_example {
  font-family: "DroidSansRegular";
}
/* line 195, ../sass/screen.scss */
#main table.font_stacks #hattori_hanzo_light_example {
  font-family: "HattoriHanzoLight";
}
/* line 196, ../sass/screen.scss */
#main table.font_stacks #district_thin_example {
  font-family: "DistrictThinRegular";
}
/* line 197, ../sass/screen.scss */
#main table.font_stacks #colaborate_thin_example {
  font-family: "ColaborateThinRegular";
}
/* line 198, ../sass/screen.scss */
#main table.font_stacks #quicksand_light_example {
  font-family: "QuicksandLight";
}
/* line 199, ../sass/screen.scss */
#main table.font_stacks #bonvenocf_light_example {
  font-family: "BonvenoCFLight";
}
/* line 200, ../sass/screen.scss */
#main table.font_stacks #lane_narrow_example {
  font-family: "LaneNarrowRegular";
}
/* line 201, ../sass/screen.scss */
#main table.font_stacks #ubuntu_light_example {
  font-family: "UbuntuLight";
}
/* line 202, ../sass/screen.scss */
#main table.font_stacks #greyscale_basic_example {
  font-family: "GreyscaleBasicRegular";
}
/* line 203, ../sass/screen.scss */
#main table.font_stacks #folks_light_example {
  font-family: "FolksLightRegular";
}
/* line 204, ../sass/screen.scss */
#main table.font_stacks #century_gothic_example {
  font-family: "CenturyGothicRegular";
}
/* line 205, ../sass/screen.scss */
#main table.font_stacks #alegreya_sc_regular_example {
  font-family: "AlegreyaSCRegular";
}
/* line 208, ../sass/screen.scss */
#main abbr.changed_in_html5, #main abbr.new_in_html5, #main abbr.obsolete_in_html5 {
  font-size: x-small;
  vertical-align: super;
}
/* line 209, ../sass/screen.scss */
#main abbr.changed_in_html5 {
  color: #00b050;
}
/* line 210, ../sass/screen.scss */
#main abbr.new_in_html5 {
  color: #c00000;
}
/* line 211, ../sass/screen.scss */
#main abbr.obsolete_in_html5 {
  color: #00b0f0;
}
/* line 213, ../sass/screen.scss */
#main span.changed_in_html5 {
  color: #00b050;
}
/* line 214, ../sass/screen.scss */
#main span.new_in_html5 {
  color: #c00000;
}
/* line 215, ../sass/screen.scss */
#main span.obsolete_in_html5 {
  color: #00b0f0;
}
/* line 217, ../sass/screen.scss */
#main .refs {
  background: #EEEEEE;
  border: 1px solid #BBBBBB;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  font-size: 12px;
  float: left;
  margin: 0 10px 0 -60px;
  padding: 4px 2px;
}
/* line 220, ../sass/screen.scss */
#main .refs ul {
  list-style: none outside none;
  margin: 0;
}
/* line 221, ../sass/screen.scss */
#main .refs ul li {
  border-top: 1px solid #BFC7DD;
}
/* line 222, ../sass/screen.scss */
#main .refs ul li:first-child {
  border-top: none;
}
/* line 223, ../sass/screen.scss */
#main .refs ul li a {
  line-height: 1.5;
  padding: 0 8px;
  text-decoration: none;
}
/* line 228, ../sass/screen.scss */
#main .new_changed {
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.5) 1px 1px 1px;
  -moz-box-shadow: rgba(100, 100, 100, 0.5) 1px 1px 1px;
  box-shadow: rgba(100, 100, 100, 0.5) 1px 1px 1px;
  color: #333;
  font-size: x-small;
  float: right;
  margin: -35px 5px 10px 10px;
  min-width: 90%;
  padding: 4px;
}

/* line 235, ../sass/screen.scss */
footer {
  display: inline-block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 0.65em;
  margin: 6em 0;
}
/* line 236, ../sass/screen.scss */
footer #copyright {
  width: 35%;
}
/* line 237, ../sass/screen.scss */
footer #powered {
  float: right;
  margin: 0 5%;
  width: 53%;
}
