#on_example {min-height: 400px;
  dt {background: #DDDDDD; border-bottom: 1px solid #999999; border-top: 1px solid white; cursor: pointer; font-size: 1.5em; font-weight: bold; line-height: 2em;}
  dd {padding: 1em 0;}
}
#main .manipulating_content_example {
    h1 {margin: 0 0 20px -10px;}
    p {margin-left: 10px; text-align: left;}
}