/* Basic styles of manuals */

@import "compass";
@import "compass/css3";
@import "font-stack";

h1, h2, h3, h4, h5, h6 {font-family: $cambria-font-stack;}
p {margin-top: 10px;}
q {font-style: italic;}
blockquote {color: #666; margin: 10px 30px 10px;}

/*code {font-family: $monospace-font-stack;}*/
code.elem, code.at_rule, code.keyword {color: #337ECF;}
code.attr, code.local_var {color: #76923c;}
code.value, code.class {color: #746a34;}
code.method {color: #558;}
code.const {color: #858;}
code.var {color: #FFAA3A;}

.term {color: #1c346a;}
.todo {color: red;}

figure {margin: 20px;}
figcaption.imgcaption {font-size: smaller; font-style: italic; text-align: center; text-indent: 0;}

#container {float: left; width: 100%;}

#index {float: left; width: 500px;
  #main_index {background-color: #ccc; font-size: 0.65em; left: 0px; min-height: 100%; padding-top: 20px; position: fixed; 
      text-align: right; top: 0px; width: 70px;

    ul {font-weight: bold; list-style: none outside none; margin-left: -5px; margin-top: 40px;
      li {@include background-image(linear-gradient(#444, #282828)); @include border-radius(3px); 
          box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.8); margin: 3px 10px 0 0; width: 60px; overflow: hidden;
        a:link, a:visited, a:active {color: #fff; display: block; line-height: 1.4em; padding: 5px 10px 6px; text-decoration: none;}
        a:hover {color: #cc4933;}
      }
      li.active {background: #991900; margin-right: 0; width: 68px;
        a:hover {color: #fff;}
      }
    }
    .github_link {bottom: 50px; display: block; left: 15px; position: absolute;
      a {background: url("../images/github.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 32px; width: 32px;}
    }
  }
  #content {background: #eee; left: 65px; max-height: 100%; max-width: 280px; min-height: 100%; min-width: 280px; padding: 20px 10px 180px -10px; 
      overflow: scroll; position: fixed; 
  }
}

#main {margin: 20px 20px 0 403px;
  header {color: #632423; font: 50pt $cambria-font-stack; text-align: center; text-shadow: 1px 1px 1px rgba(0,0,0,0.15);}

  h1, h2, h3, h4 {color: #632423; font-weight: normal; text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    a, a:active, a:visited { color: #632423; }
    a:hover { color: #632423; }
  }
  h1 {border-bottom: 2px solid #632423; font-size: 40pt; font-variant: small-caps; margin: 100px 0 30px -30px;}
  h2 {border-bottom: 1px solid #632423; font-size: 32pt; font-variant: small-caps; margin: 30px 0 20px -30px;}
  h3 {font-size: 24pt; margin: 30px 0 10px -30px;}
  h4 {font-size: 18pt; margin: 10px 0 10px 0;}

  ol, ul {margin-bottom: 0.5em; margin-top: 0.5em;}

  aside {background: #eee; @include border-radius(5px); box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5); float: right; 
      margin: 10px 5px 10px 20px; padding: 20px; width: 300px;
    &.warn {background: #fbb;}
    &.intro {background-color: #f4c288; font: 0.65em $lucida-grande-font-stack;}
  }

  table {border-collapse: separate; border-bottom: 1px solid #111111; border-top: 1px solid #111111; margin: 30px 0 40px; width: 100%;
    caption {font-style: italic; line-height: 3em;}
    thead {text-align: left;}
    th, td {padding: 8px;}
    th {border-bottom: 1px solid #111111; color: #222222; font: 15px/2em $trebuchet-font-stack;}
    th:first-child {padding-left: 0;}
    td {border-bottom: 1px solid #EEEEEE; border-left: 1px solid #EEEEEE; color: #666666; font: 14px/1.4em $segoe-font-stack;}
    td:first-child {border-left: none; padding-left: 0;}
  }
  td.file_folder {width: 140px;}
  table.list td {border: none;}
  table#operators td {min-width: 2.45em;}
  table#keywords td {min-width: 5em;}
  table.font_stacks {
    .font_stack_name {width: 20%;}
    .font_stack {width: 40%;}
    .font_example {color: #333; font-size: 14pt; width: 40%;}
    .not_system_font_example {font-size: 14pt; width: 30%;
      a {color: #333; text-decoration: none;}
    }
    .colored_header_example {color: #78d; font-size: 28pt;}
    .capitalized_example {text-transform: uppercase;}
    .small_grayed_example {color: #888; font-size: 10pt;}
    #garamond, #didot, #cambria, #bodoni_mt, #gill_sans, #helvetica, #geneva, #tahoma, #verdana, 
      #trebuchet, #futura, #calibri, #franklin_gothic {background-color: #F5F9FF;}
    #goudy_old_style, #baskerville, #hoefler_text, #constantia, #palatino, #book_antiqua, 
      #big_caslon, #lucida_bright, #optima, #segoe, #lucida_grande, #candara {background-color: #FFFFE5;}
    #garamond_example {font-family: $garamond-font-stack;}
    #didot_example {font-family: $didot-font-stack;}
    #lucida_bright_example {font-family: $lucida-bright-font-stack;}
    #palatino_example {font-family: $palatino-font-stack;}
    #big_caslon_example {font-family: $big-caslon-font-stack;}
    #baskerville_example {font-family: $baskerville-font-stack;}
    #hoefler_text_example {font-family: $hoefler-text-font-stack;}
    #bodoni_mt_example {font-family: $bodoni-mt-font-stack;}
    #goudy_old_style_example {font-family: $goudy-old-style-font-stack;}
    #constantia_example {font-family: $constantia-font-stack;}
    #cambria_example {font-family: $cambria-font-stack;}
    #book_antiqua_example {font-family: $book-antiqua-font-stack;}
    #optima_example {font-family: $optima-font-stack;}
    #futura_example {font-family: $futura-font-stack;}
    #gill_sans_example {font-family: $gill-sans-font-stack;}
    #trebuchet_example {font-family: $trebuchet-font-stack;}
    #helvetica_example {font-family: $helvetica-font-stack;}
    #verdana_example {font-family: $verdana-font-stack;}
    #lucida_grande_example {font-family: $lucida-grande-font-stack;}
    #geneva_example {font-family: $geneva-font-stack;}
    #segoe_example {font-family: $segoe-font-stack;}
    #candara_example {font-family: $candara-font-stack;}
    #calibri_example {font-family: $calibri-font-stack;}
    #franklin_gothic_example {font-family: $franklin-gothic-font-stack;}
    #tahoma_example {font-family: $tahoma-font-stack;}
    #monospace_example {font-family: $monospace-font-stack;}
    #handwritten_example {font-family: $cursive-font-stack;}
    #aller_light_example {font-family: "AllerLightRegular";}
    #aller_example {font-family: "AllerRegular";}
    #cantarell_example {font-family: "CantarellRegular";}
    #carto_gothic_example {font-family: "CartoGothicStdBook";}
    #delicious_example {font-family: "DeliciousRoman";}
    #fertigo_pro_example {font-family: "FertigoProRegular";}
    #diavlo_medium_example {font-family: "DiavloMedium";}
    #diavlo_light_example {font-family: "DiavloLight";}
    #fontin_sans_example {font-family: "FontinSansCRRegular";}
    #gentium_basic_example {font-family: "GentiumBasicRegular";}
    #junction_example {font-family: "JunctionRegular";}
    #mg_open_cosmetica_example {font-family: "MgOpenCosmeticaRegular";}
    #museo_sans_example {font-family: "MuseoSans500";}
    #nadia_serif_example {font-family: "NadiaSerifNormal";}
    #nobile_example {font-family: "NobileRegular";}
    #pt_sans_example {font-family: "PTSansRegular";}
    #pt_sans_narrow_example {font-family: "PTSansNarrowRegular";}
    #pt_sans_narrow_bold_example {font-family: "PTSansNarrowBold";}
    #pt_sans_caption_example {font-family: "PTSansCaptionRegular";}
    #open_sans_condensed_example {font-family: "OpenSansCondensedLight";}
    #romeral_example {font-family: "RomeralRegular";}
    #titillium_example {font-family: "TitilliumText22LRegular";}
    #titillium_thin_example {font-family: "TitilliumText22LThin";}
    #titillium_light_example {font-family: "TitilliumText22LLight";}
    #sansation_example {font-family: "SansationRegular";}
    #sansation_light_example {font-family: "SansationLight";}
    #yanone_kaffeesatz_light_example {font-family: "YanoneKaffeesatzLight";}
    #droid_sans_example {font-family: "DroidSansRegular";}
    #hattori_hanzo_light_example {font-family: "HattoriHanzoLight";}
    #district_thin_example {font-family: "DistrictThinRegular";}
    #colaborate_thin_example {font-family: "ColaborateThinRegular";}
    #quicksand_light_example {font-family: "QuicksandLight";}
    #bonvenocf_light_example {font-family: "BonvenoCFLight";}
    #lane_narrow_example {font-family: "LaneNarrowRegular";}
    #ubuntu_light_example {font-family: "UbuntuLight";}
    #greyscale_basic_example {font-family: "GreyscaleBasicRegular";}
    #folks_light_example {font-family: "FolksLightRegular";}
    #century_gothic_example {font-family: "CenturyGothicRegular";}
  }

  abbr.changed_in_html5, abbr.new_in_html5, abbr.obsolete_in_html5 {font-size: x-small; vertical-align: super;}
  abbr.changed_in_html5 {color: #00b050;}
  abbr.new_in_html5 {color: #c00000;}
  abbr.obsolete_in_html5 {color: #00b0f0;}
  
  span.changed_in_html5 {color: #00b050;}
  span.new_in_html5 {color: #c00000;}
  span.obsolete_in_html5 {color: #00b0f0;}

  .refs {background: #dfe7fd; @include border-radius(5px); box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5); font-size: x-small;
      float: left; margin: -5px 10px 0 -60px; padding: 4px;
    ul {list-style: none outside none; margin: 0;
      li a {text-decoration: none;}
    }
  }

  .new_changed {background: #eee; @include border-radius(5px); box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5); color: #333;
      font-size: x-small; float: right; margin: -35px 5px 10px 10px; min-width: 90%; padding: 4px;
  }

  .two_column_code_example {width: 100%;
    td {background-color: #1B2426; border: #888 1px dashed; padding: 0 50px 0 10px;}
  }
}

footer {display: inline-block; font-family: $lucida-grande-font-stack; font-size: 0.65em; margin: 6em 0;
  #copyright {width: 35%;}
  #powered {float: right; margin: 0 5%; width: 53%;}
}




