.svn/
.idea/
*.iml
publish/
tools/
build/buildinfo.properties
node_modules/
.sass-cache/**
nbproject/**
.DS_Store
*project
*Project
.htaccess
*workspace
*TODO.txt
chinaRef/
ftsRef/
ikeaRef/
tadRef/
musicRef/
plantsRef/
china.js
ikea.js