<div id="disqus_thread"></div>
<script>
  (function() { /* DON'T EDIT BELOW THIS LINE */
    var d = document, s = d.createElement('script');

    s.src = 'http://{{page.disqus_shortname}}.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Калі ласка, актывізуйце JavaScript каб бачыць <a href="//disqus.com/?ref_noscript" rel="nofollow">камэнтары праз сыстэму Disqus.</a></noscript>
<div id="comments_link" class="uv-icon"><a href="#disqus_thread" title="Перайсьці да блёку з камэнтамі"></a></div>
