{% include base_path %}

<footer>
  <div id="copyright">
    <p>Copyright &copy; 2010-2021 <a href="{{ base_path }}">{{ base_path }}{{ page.url }}</a></p>
    <p>
      <a rel="license" href="//creativecommons.org/licenses/by-nc/3.0/deed.be">
        <img src="//i.creativecommons.org/l/by-nc/3.0/88x31.png"
             style="border-style: none;" alt="Common Creatives. Attribution + Noncommercial (by-nc)" />
      </a>
    </p>
    <p>«<cite>{{page.title}}</cite>» публікуецца пад ліцэнзіяй <cite>Commons Creative Attribution-NonCommercial 3.0 Unported (CC BY-NC 3.0)</cite>. Вы вольны ў тым, як яго выкарыстоўваць, у тым ліку капіяваць, распаўсюджваць і зьмяняць на свой капыл. Але <strong>толькі ў некамэрцыйных мэтах</strong> і <strong>абавязкова з пазнакай <a href="{{ base_path }}{{page.url}}">крыніцы</a></strong> матэрыялу.</p>
  </div>
</footer>