{% include base_path %}

<div id="main_index" class="d-none d-md-block">
  <ul style="padding-left: 0">
    {% include refs_index_item.html caption="HTML" description="Даведнік па HTML" %}
    {% include refs_index_item.html caption="CSS" description="Даведнік па CSS" %}
    {% include refs_index_item.html caption="JS" description="Даведнік па JavaScript" %}
    {% include refs_index_item.html caption="Web" description="Распрацоўка сайтаў і сеціўных праграмаў" %}
  </ul>
  <ul style="padding-left: 0">
    {% include refs_index_item.html caption="Coding" description="Даведнік па тэорыі і прынцыпах праграмаваньня" %}
    {% include refs_index_item.html caption="Java" description="Даведнік па Java" %}
  </ul>
  <ul style="padding-left: 0">
    {% include refs_index_item.html caption="Linux" description="Даведнік па Linux" %}
    {% include refs_index_item.html caption="IDEs" description="Даведнік па асяродкам распрацоўкі" %}
    {% include refs_index_item.html caption="Git" description="Даведнік па Git" %}
    {% include refs_index_item.html caption="Deploy" description="Даведнік па разгортваньні праграм" %}
  </ul>
  <div class="github_link"><a href="https://github.com/yurtsevich/refs" title="Зыходнікі даведнікаў на GitHub"></a></div>
</div>