{% include base_path %}

<!-- 3rd party library to display tree-like table of content -->
<script src="{{ base_path }}/assets/js/libs/jquery.tree.js"></script>
<!-- Own script to build Refs index and article's table of content -->
<script src="{{ base_path }}/assets/js/index.js"></script>
<!-- 3rd party library to fire scrolling events -->
<script async src="{{ base_path }}/assets/js/libs/waypoints.min.js"></script>
<!-- Own script to highlight currently viewing section in table of content with help of waypoints-library -->
<script async src="{{ base_path }}/assets/js/ref.js"></script>
<!-- 3rd party library to highlight code syntax -->
<script src="{{ base_path }}/assets/js/libs/prism.js"></script>

<!-- To display embedded JSBin examples -->
<script async src="//static.jsbin.com/js/embed.min.js?3.35.2"></script>
<!-- To display embedded CodePen examples -->
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>

<!-- Lazy load images and other resources, when possible -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.plugins.min.js"></script>
<script>
  $(function() {
    $('.lazy').lazy();
    $(".top-alert").animate(
        { top: "+=100" },
        1000
    );
  });
  function closeAlert() {
    $(".top-alert").fadeOut();
  }
</script>
{% if page.local_js %}
  {% for js_file in page.local_js %}
    <script type="text/javascript" src="{{ js_file }}.js"></script>
  {% endfor %}
{% endif %}

{% if page.global_js %}
  {% for js_file in page.global_js %}
    <script type="text/javascript" src="{{ base_path }}/assets/js/{{ js_file }}.js"></script>
  {% endfor %}
{% endif %}
