{% include base_path %}

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="{{ base_path }}/assets/js/libs/jquery-1.7.1.min.js"%3E%3C/script%3E'))</script>

<!-- 3rd party library to display tree-like table of content -->
<script src="{{ base_path }}/assets/js/libs/jquery.tree.js"></script>
<!-- Own script to build Refs index and article's table of content -->
<script src="{{ base_path }}/assets/js/index.js"></script>
<!-- 3rd party library to fire scrolling events -->
<script async src="{{ base_path }}/assets/js/libs/waypoints.min.js"></script>
<!-- Own script to highlight currently viewing section in table of content with help of waypoints-library -->
<script async src="{{ base_path }}/assets/js/ref.js"></script>
<!-- 3rd party library to highlight code syntax -->
<script src="{{ base_path }}/assets/js/libs/prism.js"></script>

<!-- To display embedded JSBin examples -->
<script async src="//static.jsbin.com/js/embed.min.js?3.35.2"></script>
<!-- To display embedded CodePen examples -->
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>

<!-- Lazy load images and other resources, when possible -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.plugins.min.js"></script>
<script>
  $(function() {
    $('.lazy').lazy();
  });
</script>
