---
---

@import 'font-stack';

#garamond, #didot, #cambria, #bodoni_mt, #gill_sans, #helvetica, #geneva, #tahoma, #verdana,
#trebuchet, #futura, #calibri, #franklin_gothic {background-color: #F5F9FF;}
#goudy_old_style, #baskerville, #hoefler_text, #constantia, #palatino, #book_antiqua,
#big_caslon, #lucida_bright, #optima, #segoe, #lucida_grande, #candara {background-color: #FFFFE5;}
#garamond_example {font-family: $garamond-font-stack;}
#didot_example {font-family: $didot-font-stack;}
#lucida_bright_example {font-family: $lucida-bright-font-stack;}
#palatino_example {font-family: $palatino-font-stack;}
#big_caslon_example {font-family: $big-caslon-font-stack;}
#baskerville_example {font-family: $baskerville-font-stack;}
#hoefler_text_example {font-family: $hoefler-text-font-stack;}
#bodoni_mt_example {font-family: $bodoni-mt-font-stack;}
#goudy_old_style_example {font-family: $goudy-old-style-font-stack;}
#constantia_example {font-family: $constantia-font-stack;}
#cambria_example {font-family: $cambria-font-stack;}
#book_antiqua_example {font-family: $book-antiqua-font-stack;}
#optima_example {font-family: $optima-font-stack;}
#futura_example {font-family: $futura-font-stack;}
#gill_sans_example {font-family: $gill-sans-font-stack;}
#trebuchet_example {font-family: $trebuchet-font-stack;}
#helvetica_example {font-family: $helvetica-font-stack;}
#verdana_example {font-family: $verdana-font-stack;}
#lucida_grande_example {font-family: $lucida-grande-font-stack;}
#geneva_example {font-family: $geneva-font-stack;}
#segoe_example {font-family: $segoe-font-stack;}
#candara_example {font-family: $candara-font-stack;}
#calibri_example {font-family: $calibri-font-stack;}
#franklin_gothic_example {font-family: $franklin-gothic-font-stack;}
#tahoma_example {font-family: $tahoma-font-stack;}
#monospace_example {font-family: $monospace-font-stack;}
#handwritten_example {font-family: $cursive-font-stack;}