---
---

@import 'font-stack';

body {background: url('../images/bg.jpg'); font: 94% $optima-font-stack;}
section, header, footer {max-width: 900px;}
h1, h2, h3, h4, h5, h6 {font-family: $goudy-old-style-font-stack;
  a {text-decoration: none;} // excluding text underlying of links inside of headers
}
p, iframe {margin-top: 10px;}
q {font-style: italic;}
blockquote {color: #666; margin: 10px 30px 10px;}
abbr {color: #000;}
figure {margin: 20px;
  &.git_branching {text-align: left;}
}
.imgcaption {font-size: smaller; font-style: italic; text-align: center; text-indent: 0;}

#container {float: left; width: 100%;}
#index {float: left; width: 320px;}
#main_index {background-color: #BBBBBB; box-shadow: rgba(0, 0, 0, .2) -2px 0 2px inset; font-size: .70em;
  left: 0; height: 100%; min-height: 550px; padding-top: 20px; position: fixed; text-align: right; top: 0; width: 50px; z-index: 50;

  ul {background-color: #CCCCCC; list-style: none outside none; margin-left: 0; margin-top: 40px;
    li {border-top: 1px solid #BBBBBB; width: 50px; overflow: hidden;
      a:link, a:visited, a:active {color: #444444; display: block; line-height: 1.4em; padding: 10px 5px; text-decoration: none;}
      &:hover {background: #DDDDDD;
        a {color: #111111; text-shadow: rgba(0, 0, 0, .5) 1px 1px 2px;}
      }
      &.active {background: #EEEEEE;
        a:link, a:visited, a:active {color: #111111; font-weight: bold; text-shadow: none;}
      }
    }
  }
  .github_link {display: block; left: 5px; position: absolute; bottom: 50px;
    a {background: no-repeat scroll 0 0 transparent; display: inline-block; height: 32px; width: 32px;}
  }
}
#table_of_content {background: #eee; left: 50px; max-height: 100%; max-width: 300px; min-height: 100%; min-width: 300px;
  padding: 20px 10px 180px -10px; overflow: scroll; position: fixed;

  ul.tree {margin-left: 0;
    li {font-size: 11pt; list-style: none;
      .bullet { padding-left: 15px; }
      &.liOpen {
        .bullet { cursor: pointer; background: url(../images/minus.gif) center left no-repeat;}
        ul { display: block; }
      }
      &.liClosed {
        .bullet { cursor: pointer; background: url(../images/plus.gif) center left no-repeat;}
        ul { display: none; }
      }
      &.liBullet .bullet { cursor: default; background: url(../images/bullet.gif) center left no-repeat;}
      ul li {font-size: 10pt;
        ul li {font-size: 9pt;
          ul li {font-size: 8pt;}
        }
      }
    }
    ul, li { margin-left: 7px; padding: 0px; }
    & > li {margin-left: 0; padding: 5px 0 5px 5px;}
  }
  .section_highlight {background-color: #F8F8F8; border-top: 1px solid #BBBBBB; border-bottom: 1px solid #BBBBBB;
    a, a:active, a:visited { color: #203850; }
    a:hover { color: #00152A; text-shadow: 1px 1px 2px rgba(0,0,0,.45); }
  }
  .subsection_highlight > a {font-weight: bold;}
}
#content {left: 405px; margin-bottom: 20px; padding-right: 20px; position: absolute; top: 20px; z-index: -100;

  header {color: #222222; font: 50pt $goudy-old-style-font-stack; text-align: center; text-shadow: 1px 1px 1px rgba(0,0,0,.15);}

  h1, h2, h3, h4, h5 {color: #222222; font-weight: normal; text-shadow: 1px 1px 1px rgba(0,0,0,.15);
    &[id]:hover {cursor: pointer;}
  }
  h1 {border-bottom: 2px solid #222222; font-size: 40pt; font-variant: small-caps; margin: 70px 0 30px -30px;}
  h2 {border-bottom: 1px solid #222222; font-size: 32pt; font-variant: small-caps; margin: 40px 0 20px -30px;}
  h3 {font-size: 24pt; margin: 30px 0 15px -30px;}
  h4 {font-size: 18pt; margin: 25px 0 10px 0;}
  h5 {font-size: 14pt; margin: 20px 0 0 0;}

  ol, ul {margin-bottom: .5em; margin-top: .5em;}

  aside {background: #eee; border-left: 5px solid #aaa; box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    float: right; font-size: small; margin: 10px 0 10px 10px; padding: 15px 10px 15px 20px; width: 300px;

    &.warn {background: #fbb;}
    &.intro {background-color: #f4c288; font: .65em $lucida-grande-font-stack;}
  }

  .usage_indicator {float: none; margin: 40px 0 -25px -30px; width: auto;}
  .usage_new {background: #9CF49C; border-color: #5CB45C;}
  .usage_warn {background: #fff4cc; border-color: #ffe070;}
  .usage_deprecated {background: #fad7d4; border-color: #f08a81;}
}

table {border-collapse: separate; border-bottom: 1px solid #111111; border-top: 1px solid #111111; margin: 30px 0 40px; width: 100%;
  caption {font-style: italic; line-height: 3em;}
  thead {text-align: left;}
  tr {
    th {text-align: left;}
    &.centered {
      th, td {text-align: center;}
    }
  }
  tbody tr {
    th {font-weight: bold;}
  }
  th, td {padding: 8px;
    &.centered {text-align: center;}
  }
  th {border-bottom: 1px solid #111111; color: #222222; font: 15px/2em $trebuchet-font-stack;}
  th:first-child {padding-left: 0;}
  td {border-bottom: 1px solid #EEEEEE; border-left: 1px solid #EEEEEE; color: #666666; font: 14px/1.4em $segoe-font-stack;}
  td:first-child {border-left: none; padding-left: 0;}
  td.underlined {border-bottom: 1px solid #AAA;}
  tr.lightgreyed td {color: #999;}
  td.green_bg {background-color: #90ff90;}
  td.file_folder {width: 140px;}

  &.centered {
    th, td {text-align: center; width: 100px;}
  }
  &.list td {border: none;}
  &.tiny {
    td,th {line-height: 1; font-size: 12px; padding: 4px 0;}
  }
  &#operators td {min-width: 2.45em;}
  &#keywords td {min-width: 5em;}
  &.font_stacks {
    .font_stack_name {width: 20%;}
    .font_stack {width: 40%;}
    .font_example {color: #333; font-size: 14pt; width: 40%;}
    .not_system_font_example {font-size: 14pt; width: 30%;
      a {color: #333; text-decoration: none;}
    }
    .colored_header_example {color: #78d; font-size: 28pt;}
    .capitalized_example {text-transform: uppercase;}
    .small_grayed_example {color: #888; font-size: 10pt;}
  }
}

abbr.changed_in_html5, abbr.new_in_html5 {font-size: x-small; vertical-align: super;}
abbr.changed_in_html5 {color: #00b050;}
abbr.new_in_html5 {color: #c00000;}

.refs {background: #EEEEEE; border: 1px solid #BBBBBB; border-radius: 1px; box-shadow: rgba(0, 0, 0, .3) 1px 1px 2px;
  font-size: 12px; float: left; margin: 0 10px 0 -60px; padding: 4px 2px;

  ul {list-style: none outside none; margin: 0;
    li {border-top: 1px solid #BFC7DD;
      &:first-child {border-top: none;}
      a {line-height: 1.5; padding: 0 8px; text-decoration: none;
        &.deprecated_link {text-decoration: line-through;}
      }
    }
  }
}
.example {margin: 20px 0;}
.example_content {background-color: #EEEEEE; border: 1px dashed #AAAAAA; margin: 0 auto; padding: 20px; text-align: center; width: 300px;}
.manipulating_content_example {
  h1 {margin: 0 0 20px -10px;}
  p {margin-left: 10px; text-align: left;}
}
#on_example {min-height: 400px;
  dt {background: #DDDDDD; border-bottom: 1px solid #999999; border-top: 1px solid white; cursor: pointer; font-size: 1.5em; font-weight: bold; line-height: 2em;}
  dd {padding: 1em 0;}
}

#disqus_thread {margin: 5em 0;}
footer {display: inline-block; font-family: $lucida-grande-font-stack; font-size: 0.65em; margin: 2em 0 10em;
  #copyright {width: 60%;}
}
#comments_link {
  right: 80px; bottom: 20px;
  a {background: url(../images/comments.png) center left no-repeat; display: inline-block; width: 48px; height: 48px;}
}
// Highlights activated targets by yellow background for short time
:target {
  -webkit-animation: highlight 1s ease-out;
  -moz-animation: highlight 1s ease-out;
}
@-webkit-keyframes highlight {
  from { background: #ff9; }
  to { background: transparent; }
}
@-moz-keyframes highlight {
  from { background: #ff9; }
  to { background: transparent; }
}
