/* line 7, ../sass/screen.scss */
body {
  background: url("../images/bg.jpg");
  font: 94% Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

/* line 8, ../sass/screen.scss */
section, header, footer {
  max-width: 900px;
}

/* line 9, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
/* line 10, ../sass/screen.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* line 12, ../sass/screen.scss */
p, iframe {
  margin-top: 10px;
}

/* line 13, ../sass/screen.scss */
q {
  font-style: italic;
}

/* line 14, ../sass/screen.scss */
blockquote {
  color: #666;
  margin: 10px 30px 10px;
}

/*
code {background-color: #E8E8E8; @include border-radius(4px); color: #000; padding: 0 5px;}
.elem, .at_rule, .keyword {color: #006699;}
.syntaxhighlighter code {@include text-shadow(none);}
*/
/* line 22, ../sass/screen.scss */
abbr {
  color: #000;
}

/* line 23, ../sass/screen.scss */
.deprecated_link {
  text-decoration: line-through;
}

/* line 25, ../sass/screen.scss */
figure {
  margin: 20px;
}

/* line 26, ../sass/screen.scss */
.imgcaption {
  font-size: smaller;
  font-style: italic;
  text-align: center;
  text-indent: 0;
}

/* line 28, ../sass/screen.scss */
#container {
  float: left;
  width: 100%;
}

/* line 30, ../sass/screen.scss */
#index {
  float: left;
  width: 320px;
}
/* line 31, ../sass/screen.scss */
#index #main_index {
  background-color: #BBBBBB;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) -2px 0 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) -2px 0 2px inset;
  box-shadow: rgba(0, 0, 0, 0.2) -2px 0 2px inset;
  font-size: 0.70em;
  left: 0px;
  height: 100%;
  min-height: 550px;
  padding-top: 20px;
  position: fixed;
  text-align: right;
  top: 0px;
  width: 50px;
  z-index: 50;
}
/* line 35, ../sass/screen.scss */
#index #main_index ul {
  background-color: #CCCCCC;
  list-style: none outside none;
  margin-left: 0;
  margin-top: 40px;
}
/* line 36, ../sass/screen.scss */
#index #main_index ul li {
  border-top: 1px solid #BBBBBB;
  width: 50px;
  overflow: hidden;
}
/* line 37, ../sass/screen.scss */
#index #main_index ul li a:link, #index #main_index ul li a:visited, #index #main_index ul li a:active {
  color: #444444;
  display: block;
  line-height: 1.4em;
  padding: 10px 5px;
  text-decoration: none;
}
/* line 38, ../sass/screen.scss */
#index #main_index ul li:hover {
  background: #DDDDDD;
}
/* line 39, ../sass/screen.scss */
#index #main_index ul li:hover a {
  color: #111111;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}
/* line 41, ../sass/screen.scss */
#index #main_index ul li.active {
  background: #EEEEEE;
}
/* line 42, ../sass/screen.scss */
#index #main_index ul li.active a:link, #index #main_index ul li.active a:visited, #index #main_index ul li.active a:active {
  color: #111111;
  font-weight: bold;
  text-shadow: none;
}
/* line 46, ../sass/screen.scss */
#index #main_index .github_link, #index #main_index .zip_link {
  display: block;
  left: 5px;
  position: absolute;
}
/* line 47, ../sass/screen.scss */
#index #main_index .github_link a, #index #main_index .zip_link a {
  background: no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 32px;
  width: 32px;
}
/* line 49, ../sass/screen.scss */
#index #main_index .github_link {
  bottom: 50px;
}
/* line 50, ../sass/screen.scss */
#index #main_index .github_link a {
  background-image: url("../images/github.png");
}
/* line 52, ../sass/screen.scss */
#index #main_index .zip_link {
  bottom: 100px;
}
/* line 53, ../sass/screen.scss */
#index #main_index .zip_link a {
  background-image: url("../images/zip.png");
}
/* line 56, ../sass/screen.scss */
#index #table_of_content {
  background: #eee;
  left: 50px;
  max-height: 100%;
  max-width: 300px;
  min-height: 100%;
  min-width: 300px;
  padding: 20px 10px 180px -10px;
  overflow: scroll;
  position: fixed;
}
/* line 59, ../sass/screen.scss */
#index #table_of_content ul.tree {
  margin-left: 0;
}
/* line 60, ../sass/screen.scss */
#index #table_of_content ul.tree li {
  font-size: 11pt;
  list-style: none;
}
/* line 61, ../sass/screen.scss */
#index #table_of_content ul.tree li .bullet {
  padding-left: 15px;
}
/* line 63, ../sass/screen.scss */
#index #table_of_content ul.tree li.liOpen .bullet {
  cursor: pointer;
  background: url(../images/minus.gif) center left no-repeat;
}
/* line 64, ../sass/screen.scss */
#index #table_of_content ul.tree li.liOpen ul {
  display: block;
}
/* line 67, ../sass/screen.scss */
#index #table_of_content ul.tree li.liClosed .bullet {
  cursor: pointer;
  background: url(../images/plus.gif) center left no-repeat;
}
/* line 68, ../sass/screen.scss */
#index #table_of_content ul.tree li.liClosed ul {
  display: none;
}
/* line 70, ../sass/screen.scss */
#index #table_of_content ul.tree li.liBullet .bullet {
  cursor: default;
  background: url(../images/bullet.gif) center left no-repeat;
}
/* line 71, ../sass/screen.scss */
#index #table_of_content ul.tree li ul li {
  font-size: 10pt;
}
/* line 72, ../sass/screen.scss */
#index #table_of_content ul.tree li ul li ul li {
  font-size: 9pt;
}
/* line 73, ../sass/screen.scss */
#index #table_of_content ul.tree li ul li ul li ul li {
  font-size: 8pt;
}
/* line 77, ../sass/screen.scss */
#index #table_of_content ul.tree ul, #index #table_of_content ul.tree li {
  margin-left: 7px;
  padding: 0px;
}
/* line 78, ../sass/screen.scss */
#index #table_of_content ul.tree > li {
  margin-left: 0;
  padding: 5px 0 5px 5px;
}
/* line 80, ../sass/screen.scss */
#index #table_of_content .section_highlight {
  background-color: #F8F8F8;
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
}
/* line 81, ../sass/screen.scss */
#index #table_of_content .section_highlight a, #index #table_of_content .section_highlight a:active, #index #table_of_content .section_highlight a:visited {
  color: #203850;
}
/* line 82, ../sass/screen.scss */
#index #table_of_content .section_highlight a:hover {
  color: #00152A;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
}
/* line 84, ../sass/screen.scss */
#index #table_of_content .subsection_highlight > a {
  font-weight: bold;
}

/* line 88, ../sass/screen.scss */
#content {
  left: 405px;
  margin-bottom: 20px;
  padding-right: 20px;
  position: absolute;
  top: 20px;
  z-index: -100;
}
/* line 89, ../sass/screen.scss */
#content header {
  color: #222222;
  font: 50pt "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
/* line 91, ../sass/screen.scss */
#content h1, #content h2, #content h3, #content h4, #content h5 {
  color: #222222;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
/* line 92, ../sass/screen.scss */
#content h1[id]:hover, #content h2[id]:hover, #content h3[id]:hover, #content h4[id]:hover, #content h5[id]:hover {
  cursor: pointer;
}
/* line 94, ../sass/screen.scss */
#content h1 {
  border-bottom: 2px solid #222222;
  font-size: 40pt;
  font-variant: small-caps;
  margin: 70px 0 30px -30px;
}
/* line 95, ../sass/screen.scss */
#content h2 {
  border-bottom: 1px solid #222222;
  font-size: 32pt;
  font-variant: small-caps;
  margin: 40px 0 20px -30px;
}
/* line 96, ../sass/screen.scss */
#content h3 {
  font-size: 24pt;
  margin: 30px 0 15px -30px;
}
/* line 97, ../sass/screen.scss */
#content h4 {
  font-size: 18pt;
  margin: 25px 0 10px 0;
}
/* line 98, ../sass/screen.scss */
#content h5 {
  font-size: 14pt;
  margin: 20px 0 0 0;
}
/* line 100, ../sass/screen.scss */
#content ol, #content ul {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
/* line 102, ../sass/screen.scss */
#content aside {
  background: #eee;
  border-color: #aaa;
  border-left-width: 5px;
  border-left-style: solid;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  float: right;
  font-size: small;
  margin: 10px 0 10px 10px;
  padding: 15px 10px 15px 20px;
  width: 300px;
}
/* line 104, ../sass/screen.scss */
#content aside.warn {
  background: #fbb;
}
/* line 105, ../sass/screen.scss */
#content aside.intro {
  background-color: #f4c288;
  font: 0.65em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
/* line 108, ../sass/screen.scss */
#content .usage_indicator {
  float: none;
  margin: 40px 0 -25px -30px;
  width: auto;
}
/* line 109, ../sass/screen.scss */
#content .usage_new {
  background: #9CF49C;
  border-color: #5CB45C;
}
/* line 110, ../sass/screen.scss */
#content .usage_warn {
  background: #fff4cc;
  border-color: #ffe070;
}
/* line 111, ../sass/screen.scss */
#content .usage_deprecated {
  background: #fad7d4;
  border-color: #f08a81;
}
/* line 114, ../sass/screen.scss */
#content table {
  border-collapse: separate;
  border-bottom: 1px solid #111111;
  border-top: 1px solid #111111;
  margin: 30px 0 40px;
  width: 100%;
}
/* line 115, ../sass/screen.scss */
#content table caption {
  font-style: italic;
  line-height: 3em;
}
/* line 116, ../sass/screen.scss */
#content table thead {
  text-align: left;
}
/* line 118, ../sass/screen.scss */
#content table tr th {
  text-align: left;
}
/* line 121, ../sass/screen.scss */
#content table tbody tr th {
  font-weight: bold;
}
/* line 123, ../sass/screen.scss */
#content table th, #content table td {
  padding: 8px;
}
/* line 124, ../sass/screen.scss */
#content table th {
  border-bottom: 1px solid #111111;
  color: #222222;
  font: 15px/2em "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
/* line 125, ../sass/screen.scss */
#content table th:first-child {
  padding-left: 0;
}
/* line 126, ../sass/screen.scss */
#content table td {
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  color: #666666;
  font: 14px/1.4em Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
/* line 127, ../sass/screen.scss */
#content table td:first-child {
  border-left: none;
  padding-left: 0;
}
/* line 128, ../sass/screen.scss */
#content table td.underlined {
  border-bottom: 1px solid #AAA;
}
/* line 129, ../sass/screen.scss */
#content table tr.lightgreyed td {
  color: #999;
}
/* line 130, ../sass/screen.scss */
#content table td.green_bg {
  background-color: #90ff90;
}
/* line 132, ../sass/screen.scss */
#content td.file_folder {
  width: 140px;
}
/* line 133, ../sass/screen.scss */
#content table.list td {
  border: none;
}
/* line 134, ../sass/screen.scss */
#content table#operators td {
  min-width: 2.45em;
}
/* line 135, ../sass/screen.scss */
#content table#keywords td {
  min-width: 5em;
}
/* line 137, ../sass/screen.scss */
#content table.font_stacks .font_stack_name {
  width: 20%;
}
/* line 138, ../sass/screen.scss */
#content table.font_stacks .font_stack {
  width: 40%;
}
/* line 139, ../sass/screen.scss */
#content table.font_stacks .font_example {
  color: #333;
  font-size: 14pt;
  width: 40%;
}
/* line 140, ../sass/screen.scss */
#content table.font_stacks .not_system_font_example {
  font-size: 14pt;
  width: 30%;
}
/* line 141, ../sass/screen.scss */
#content table.font_stacks .not_system_font_example a {
  color: #333;
  text-decoration: none;
}
/* line 143, ../sass/screen.scss */
#content table.font_stacks .colored_header_example {
  color: #78d;
  font-size: 28pt;
}
/* line 144, ../sass/screen.scss */
#content table.font_stacks .capitalized_example {
  text-transform: uppercase;
}
/* line 145, ../sass/screen.scss */
#content table.font_stacks .small_grayed_example {
  color: #888;
  font-size: 10pt;
}
/* line 147, ../sass/screen.scss */
#content table.font_stacks #garamond, #content table.font_stacks #didot, #content table.font_stacks #cambria, #content table.font_stacks #bodoni_mt, #content table.font_stacks #gill_sans, #content table.font_stacks #helvetica, #content table.font_stacks #geneva, #content table.font_stacks #tahoma, #content table.font_stacks #verdana,
#content table.font_stacks #trebuchet, #content table.font_stacks #futura, #content table.font_stacks #calibri, #content table.font_stacks #franklin_gothic {
  background-color: #F5F9FF;
}
/* line 149, ../sass/screen.scss */
#content table.font_stacks #goudy_old_style, #content table.font_stacks #baskerville, #content table.font_stacks #hoefler_text, #content table.font_stacks #constantia, #content table.font_stacks #palatino, #content table.font_stacks #book_antiqua,
#content table.font_stacks #big_caslon, #content table.font_stacks #lucida_bright, #content table.font_stacks #optima, #content table.font_stacks #segoe, #content table.font_stacks #lucida_grande, #content table.font_stacks #candara {
  background-color: #FFFFE5;
}
/* line 150, ../sass/screen.scss */
#content table.font_stacks #garamond_example {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
/* line 151, ../sass/screen.scss */
#content table.font_stacks #didot_example {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
/* line 152, ../sass/screen.scss */
#content table.font_stacks #lucida_bright_example {
  font-family: "Lucida Bright", Georgia, serif;
}
/* line 153, ../sass/screen.scss */
#content table.font_stacks #palatino_example {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
/* line 154, ../sass/screen.scss */
#content table.font_stacks #big_caslon_example {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
/* line 155, ../sass/screen.scss */
#content table.font_stacks #baskerville_example {
  font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}
/* line 156, ../sass/screen.scss */
#content table.font_stacks #hoefler_text_example {
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}
/* line 157, ../sass/screen.scss */
#content table.font_stacks #bodoni_mt_example {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
/* line 158, ../sass/screen.scss */
#content table.font_stacks #goudy_old_style_example {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
/* line 159, ../sass/screen.scss */
#content table.font_stacks #constantia_example {
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}
/* line 160, ../sass/screen.scss */
#content table.font_stacks #cambria_example {
  font-family: Cambria, Georgia, serif;
}
/* line 161, ../sass/screen.scss */
#content table.font_stacks #book_antiqua_example {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}
/* line 162, ../sass/screen.scss */
#content table.font_stacks #optima_example {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
/* line 163, ../sass/screen.scss */
#content table.font_stacks #futura_example {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
/* line 164, ../sass/screen.scss */
#content table.font_stacks #gill_sans_example {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
/* line 165, ../sass/screen.scss */
#content table.font_stacks #trebuchet_example {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
/* line 166, ../sass/screen.scss */
#content table.font_stacks #helvetica_example {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 167, ../sass/screen.scss */
#content table.font_stacks #verdana_example {
  font-family: Verdana, Geneva, sans-serif;
}
/* line 168, ../sass/screen.scss */
#content table.font_stacks #lucida_grande_example {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
/* line 169, ../sass/screen.scss */
#content table.font_stacks #geneva_example {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}
/* line 170, ../sass/screen.scss */
#content table.font_stacks #segoe_example {
  font-family: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
/* line 171, ../sass/screen.scss */
#content table.font_stacks #candara_example {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
/* line 172, ../sass/screen.scss */
#content table.font_stacks #calibri_example {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
/* line 173, ../sass/screen.scss */
#content table.font_stacks #franklin_gothic_example {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}
/* line 174, ../sass/screen.scss */
#content table.font_stacks #tahoma_example {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
/* line 175, ../sass/screen.scss */
#content table.font_stacks #monospace_example {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
/* line 176, ../sass/screen.scss */
#content table.font_stacks #handwritten_example {
  font-family: "Bradley Hand ITC", "Apple Chancery", "URW Chancery L", cursive;
}
/* line 177, ../sass/screen.scss */
#content table.font_stacks #aller_light_example {
  font-family: 'AllerLightRegular';
}
/* line 178, ../sass/screen.scss */
#content table.font_stacks #aller_example {
  font-family: 'AllerRegular';
}
/* line 179, ../sass/screen.scss */
#content table.font_stacks #cantarell_example {
  font-family: 'CantarellRegular';
}
/* line 180, ../sass/screen.scss */
#content table.font_stacks #carto_gothic_example {
  font-family: 'CartoGothicStdBook';
}
/* line 181, ../sass/screen.scss */
#content table.font_stacks #delicious_example {
  font-family: 'DeliciousRoman';
}
/* line 182, ../sass/screen.scss */
#content table.font_stacks #fertigo_pro_example {
  font-family: 'FertigoProRegular';
}
/* line 183, ../sass/screen.scss */
#content table.font_stacks #diavlo_medium_example {
  font-family: 'DiavloMedium';
}
/* line 184, ../sass/screen.scss */
#content table.font_stacks #diavlo_light_example {
  font-family: 'DiavloLight';
}
/* line 185, ../sass/screen.scss */
#content table.font_stacks #fontin_sans_example {
  font-family: 'FontinSansCRRegular';
}
/* line 186, ../sass/screen.scss */
#content table.font_stacks #gentium_basic_example {
  font-family: 'GentiumBasicRegular';
}
/* line 187, ../sass/screen.scss */
#content table.font_stacks #junction_example {
  font-family: 'JunctionRegular';
}
/* line 188, ../sass/screen.scss */
#content table.font_stacks #mg_open_cosmetica_example {
  font-family: 'MgOpenCosmeticaRegular';
}
/* line 189, ../sass/screen.scss */
#content table.font_stacks #museo_sans_example {
  font-family: 'MuseoSans500';
}
/* line 190, ../sass/screen.scss */
#content table.font_stacks #nadia_serif_example {
  font-family: 'NadiaSerifNormal';
}
/* line 191, ../sass/screen.scss */
#content table.font_stacks #nobile_example {
  font-family: 'NobileRegular';
}
/* line 192, ../sass/screen.scss */
#content table.font_stacks #pt_sans_example {
  font-family: 'PTSansRegular';
}
/* line 193, ../sass/screen.scss */
#content table.font_stacks #pt_sans_narrow_example {
  font-family: 'PTSansNarrowRegular';
}
/* line 194, ../sass/screen.scss */
#content table.font_stacks #pt_sans_narrow_bold_example {
  font-family: 'PTSansNarrowBold';
}
/* line 195, ../sass/screen.scss */
#content table.font_stacks #pt_sans_caption_example {
  font-family: 'PTSansCaptionRegular';
}
/* line 196, ../sass/screen.scss */
#content table.font_stacks #open_sans_condensed_example {
  font-family: 'OpenSansCondensedLight';
}
/* line 197, ../sass/screen.scss */
#content table.font_stacks #romeral_example {
  font-family: 'RomeralRegular';
}
/* line 198, ../sass/screen.scss */
#content table.font_stacks #titillium_example {
  font-family: 'TitilliumText22LRegular';
}
/* line 199, ../sass/screen.scss */
#content table.font_stacks #titillium_thin_example {
  font-family: 'TitilliumText22LThin';
}
/* line 200, ../sass/screen.scss */
#content table.font_stacks #titillium_light_example {
  font-family: 'TitilliumText22LLight';
}
/* line 201, ../sass/screen.scss */
#content table.font_stacks #sansation_example {
  font-family: 'SansationRegular';
}
/* line 202, ../sass/screen.scss */
#content table.font_stacks #sansation_light_example {
  font-family: 'SansationLight';
}
/* line 203, ../sass/screen.scss */
#content table.font_stacks #yanone_kaffeesatz_light_example {
  font-family: 'YanoneKaffeesatzLight';
}
/* line 204, ../sass/screen.scss */
#content table.font_stacks #droid_sans_example {
  font-family: 'DroidSansRegular';
}
/* line 205, ../sass/screen.scss */
#content table.font_stacks #hattori_hanzo_light_example {
  font-family: 'HattoriHanzoLight';
}
/* line 206, ../sass/screen.scss */
#content table.font_stacks #district_thin_example {
  font-family: 'DistrictThinRegular';
}
/* line 207, ../sass/screen.scss */
#content table.font_stacks #colaborate_thin_example {
  font-family: 'ColaborateThinRegular';
}
/* line 208, ../sass/screen.scss */
#content table.font_stacks #quicksand_light_example {
  font-family: 'QuicksandLight';
}
/* line 209, ../sass/screen.scss */
#content table.font_stacks #bonvenocf_light_example {
  font-family: 'BonvenoCFLight';
}
/* line 210, ../sass/screen.scss */
#content table.font_stacks #lane_narrow_example {
  font-family: 'LaneNarrowRegular';
}
/* line 211, ../sass/screen.scss */
#content table.font_stacks #ubuntu_light_example {
  font-family: 'UbuntuLight';
}
/* line 212, ../sass/screen.scss */
#content table.font_stacks #greyscale_basic_example {
  font-family: 'GreyscaleBasicRegular';
}
/* line 213, ../sass/screen.scss */
#content table.font_stacks #folks_light_example {
  font-family: 'FolksLightRegular';
}
/* line 214, ../sass/screen.scss */
#content table.font_stacks #century_gothic_example {
  font-family: 'CenturyGothicRegular';
}
/* line 215, ../sass/screen.scss */
#content table.font_stacks #alegreya_sc_regular_example {
  font-family: 'AlegreyaSCRegular';
}
/* line 218, ../sass/screen.scss */
#content table.centered th, #content table.centered td {
  text-align: center;
  width: 100px;
}
/* line 221, ../sass/screen.scss */
#content tr.centered th, #content tr.centered td {
  text-align: center;
}
/* line 223, ../sass/screen.scss */
#content th.centered, #content td.centered {
  text-align: center;
}
/* line 225, ../sass/screen.scss */
#content table.tiny td, #content table.tiny th {
  line-height: 1;
  font-size: 12px;
  padding: 4px 0;
}
/* line 228, ../sass/screen.scss */
#content abbr.changed_in_html5, #content abbr.new_in_html5, #content abbr.obsolete_in_html5 {
  font-size: x-small;
  vertical-align: super;
}
/* line 229, ../sass/screen.scss */
#content abbr.changed_in_html5 {
  color: #00b050;
}
/* line 230, ../sass/screen.scss */
#content abbr.new_in_html5 {
  color: #c00000;
}
/* line 231, ../sass/screen.scss */
#content abbr.obsolete_in_html5 {
  color: #00b0f0;
}
/* line 233, ../sass/screen.scss */
#content span.changed_in_html5 {
  color: #00b050;
}
/* line 234, ../sass/screen.scss */
#content span.new_in_html5 {
  color: #c00000;
}
/* line 235, ../sass/screen.scss */
#content span.obsolete_in_html5 {
  color: #00b0f0;
}
/* line 237, ../sass/screen.scss */
#content .new_changed {
  float: right;
  font-size: x-small;
  margin-top: -60px;
  padding: 5px;
  width: 400px;
}
/* line 239, ../sass/screen.scss */
#content .refs {
  background: #EEEEEE;
  border: 1px solid #BBBBBB;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  font-size: 12px;
  float: left;
  margin: 0 10px 0 -60px;
  padding: 4px 2px;
}
/* line 242, ../sass/screen.scss */
#content .refs ul {
  list-style: none outside none;
  margin: 0;
}
/* line 243, ../sass/screen.scss */
#content .refs ul li {
  border-top: 1px solid #BFC7DD;
}
/* line 244, ../sass/screen.scss */
#content .refs ul li:first-child {
  border-top: none;
}
/* line 245, ../sass/screen.scss */
#content .refs ul li a {
  line-height: 1.5;
  padding: 0 8px;
  text-decoration: none;
}
/* line 249, ../sass/screen.scss */
#content .example {
  margin: 20px 0;
}
/* line 250, ../sass/screen.scss */
#content .example_content {
  background-color: #EEEEEE;
  border: 1px dashed #AAAAAA;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 300px;
}
/* line 252, ../sass/screen.scss */
#content .manipulating_content_example h1 {
  margin: 0 0 20px -10px;
}
/* line 253, ../sass/screen.scss */
#content .manipulating_content_example p {
  margin-left: 10px;
  text-align: left;
}
/* line 255, ../sass/screen.scss */
#content .gallery {
  display: block;
  margin: 2px;
  padding: 2px;
  text-align: center;
  width: 800px;
}
/* line 256, ../sass/screen.scss */
#content .gallerybox {
  display: inline-block;
  margin: 15px 5px 5px;
  width: 250px;
}
/* line 257, ../sass/screen.scss */
#content .gallerybox img {
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 100%;
}
/* line 258, ../sass/screen.scss */
#content .gallerybox p {
  margin-top: 0;
}
/* line 260, ../sass/screen.scss */
#content .gallerybox.shop {
  border-top: 1px solid #999;
  margin-top: 40px;
  padding-top: 40px;
  width: 790px;
}
/* line 261, ../sass/screen.scss */
#content .gallerybox.shop:first-child {
  border-top: none;
  margin-top: 20px;
  padding-top: 0;
}
/* line 263, ../sass/screen.scss */
#content .gallerytext {
  margin-top: 5px;
}
/* line 264, ../sass/screen.scss */
#content .gallerytext .rub_cost, #content .gallerytext .num {
  font-weight: bold;
}
/* line 265, ../sass/screen.scss */
#content .gallerytext .warn {
  color: red;
}
/* line 266, ../sass/screen.scss */
#content .gallerytext .good {
  color: green;
}
/* line 269, ../sass/screen.scss */
#content figure .git_branching {
  text-align: left;
}

/* line 272, ../sass/screen.scss */
#on_example {
  min-height: 400px;
}
/* line 273, ../sass/screen.scss */
#on_example dt {
  background: #DDDDDD;
  border-bottom: 1px solid #999999;
  border-top: 1px solid white;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
}
/* line 274, ../sass/screen.scss */
#on_example dd {
  padding: 1em 0;
}

/* line 277, ../sass/screen.scss */
#disqus_thread {
  margin: 5em 0;
}

/* line 279, ../sass/screen.scss */
footer {
  display: inline-block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 0.65em;
  margin: 2em 0 10em;
}
/* line 280, ../sass/screen.scss */
footer #copyright {
  width: 60%;
}

/* line 283, ../sass/screen.scss */
#comments_link {
  right: 80px;
  bottom: 20px;
}
/* line 285, ../sass/screen.scss */
#comments_link a {
  background: url(../images/comments.png) center left no-repeat;
  display: inline-block;
  width: 48px;
  height: 48px;
}

/* line 288, ../sass/screen.scss */
:target {
  -webkit-animation: highlight 1s ease-out;
  -moz-animation: highlight 1s ease-out;
}

@-webkit-keyframes highlight {
  /* line 293, ../sass/screen.scss */
  from {
    background: #ff9;
  }

  /* line 294, ../sass/screen.scss */
  to {
    background: transparent;
  }
}

@-moz-keyframes highlight {
  /* line 297, ../sass/screen.scss */
  from {
    background: #ff9;
  }

  /* line 298, ../sass/screen.scss */
  to {
    background: transparent;
  }
}

kbd, .key {
  display: inline;
  display: inline-block;
  min-width: 1em;
  padding: .2em .3em;
  font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  border: none;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
kbd[title], .key[title] {
  cursor: help;
}

/* Dark style for display on light background. This is the default style. */
kbd, kbd.dark, .dark-keys kbd, .key, .key.dark, .dark-keys .key {
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(top, rgb(60, 60, 60), rgb(80, 80, 80));
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(60, 60, 60)), to(rgb(80, 80, 80)));
  color: rgb(250, 250, 250);
  text-shadow: -1px -1px 0 rgb(70, 70, 70);
  -moz-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
}

/* Light style for display on dark background. */
kbd.light, .light-keys kbd, .key.light, .light-keys .key {
  background: rgb(250, 250, 250);
  background: -moz-linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255));
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
  color:  rgb(50, 50, 50);
  text-shadow: 0 0 2px rgb(255, 255, 255);
  -moz-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
  -webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
  box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
}