---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="be-tarask" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Cache-Control" content="public">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include seo.html %}

  {% include styles.html %}

  <link rel="shortcut icon" href="{{ base_path }}/favicon.ico" type="image/x-icon">
</head>

<body>
<div id="container">
  <div class="row">
    <div id="index">

      {% include refs_index.html %}

    </div>

    <article id="content">
      <!--div style="position: sticky; top: 20px;">
        <button type="button" class="btn btn-sm btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg></button>
      </div-->

      <header>
        {{page.title}}
      </header>

      {{ content }}

      {% include disqus.html %}

      {% include footer.html %}

    </article>
  </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - -
Javascript at the bottom for fast page loading
 - - - - - - - - - - - - - - - - - - - - - - -->
{% include scripts.html %}

{% include uservoice.html %}

{% include analytics.html %}

</body>
</html>